<header class="site-header">
    <div class="top-bar">
        <div class="top-bar-container">
            <p class="desktop-text">{{ site.data.settings.topbar_text }}</p>
            
            <div class="social-icons">
                <a href="#" title="اینستاگرام"><i class="fab fa-instagram"></i></a>
                <a href="#" title="یوتیوب"><i class="fab fa-youtube"></i></a>
                <a href="#" title="واتس‌اپ"><i class="fab fa-whatsapp"></i></a>
                <a href="#" title="تلگرام"><i class="fab fa-telegram-plane"></i></a>
            </div>
        </div>
    </div>

    <nav class="main-nav">
        <a href="#" class="logo-container">
            <img src="{{ site.baseurl }}/picture/logo.png" alt="بهساز ماشین" class="logo-img">
        </a>

        <ul class="nav-list">
            <li class="nav-item active"><a href="#" class="nav-link">صفحه اصلی</a></li>
            <li class="nav-item has-dropdown">
                <a href="#" class="nav-link">خرید دستگاه قطعه شویی</a>
                <ul class="dropdown-menu">
                    <li><a href="#">دستگاه سبک</a></li>
                    <li><a href="#">دستگاه سنگین</a></li>
                    <li><a href="#">دستگاه فوق سنگین</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">رضایت مشتریان</a></li>
            <li class="nav-item has-dropdown">
                <a href="#" class="nav-link">فروش شرایطی</a>
                <ul class="dropdown-menu">
                    <li><a href="#">فروش اقساطی</a></li>
                    <li><a href="#">ساخت سفارشی</a></li>
                </ul>
            </li>
            <li class="nav-item has-dropdown">
                <a href="#" class="nav-link">نمایندگی</a>
                <ul class="dropdown-menu">
                    <li><a href="#">تهران</a></li>
                    <li><a href="#">شیراز</a></li>
                    <li><a href="#">مشهد</a></li>
                </ul>
            </li>
            <li class="nav-item has-dropdown">
                <a href="#" class="nav-link">آموزش</a>
                <ul class="dropdown-menu">
                    <li><a href="#">وبلاگ</a></li>
                    <li><a href="#">ویدیوها</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">سوالات پرتکرار</a></li>
            <li class="nav-item"><a href="#" class="nav-link">درباره ما</a></li>
            <li class="nav-item"><a href="#" class="nav-link">تماس با ما</a></li>
        </ul>

        <div class="left-actions">
            <a href="#" class="search-btn"><i class="fas fa-search"></i></a>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>

    <div class="mobile-slogan-bar">
        <p>{{ site.data.settings.topbar_text }}</p>
    </div>
</header>